#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .ont {
    position: fixed;
    z-index: 99;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .contain {
    text-align: left;
    padding: 0 150px;
    h1,
    p {
      color: white;
      margin-bottom: 20px;
    }
    z-index: 999;
  }
  #tspartiles {
    z-index: 8;
  }
}
