form {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.submit {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    margin: 0.5em 0;
  }
}
#contact {
  .container {
    h3 {
      text-align: center;
      margin-top: 2em;
    }
    .left {
      padding: 2em 0;
    }
    .right {
      .social {
        padding: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #contact {
    margin: 0;
    padding: 10vh 10%;
    height: 100vh;
    color: #fff;
    #tsparticles {
      z-index: -99;
    }
    .header {
      text-align: center;
    }
    .container {
      padding: 1em;
      background-color: rgba(89, 89, 89, 0.494);
      border-radius: 15px;
      display: flex;

      .left {
        flex-basis: 50%;
        z-index: 999;
        padding: 10px 30px;
      }
      .right {
        flex-basis: 50%;
        align-items: center;
        z-index: 999;
        padding: 0 30px;

        .social {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
        }
      }
    }
  }
}
