#about{
  height: 100vh;
  width: 100%;
 
  #tsparticles {
    z-index: -99;
  }
  .bg {
    z-index: 2;
    height: 100vh;
    width: 100%;
    position: fixed;
  }
  .container{
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width:768px) {
  #about {
    
    .container {
     
  
      
      display: flex;
      flex-direction: column;
      padding: 20px;
      .about {
        background-color: #0437476c;
        align-self: center;
        border-radius: 1.3em;
        padding: 20px;
        display: flex;
        .flex-base {
          flex-basis: 50%;
        }
      }
      h1 {
        align-self: center;
        color: white;
      }
      p {
        align-self: center;
        color: white;
      }
      .next {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}

