@import "../../variable";

.navi {
  padding: 0.2em 1em;
  border-radius: 1em;
  background-color: $main;
  border: 1px solid white;
  margin: 1em;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background-color: $hover;
    border: 1px solid $hover;
  }
}
.button {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  .but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px; // Adjust as needed
    height: 70px; // Adjust as needed
    background: url("./but.svg") no-repeat center center;
    background-size: cover; // Ensure the SVG scales correctly
    &:hover {
      cursor: pointer;
    }
    .button-text {
      color: #fff;
      font-size: 12px;
      text-align: center;
    }
  }
}
