.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  .card-cont {
    margin-top: 2em;
    width: 100%;
  }
  .load {
    border: none;
    text-decoration: none;
    background: none;
    color: white;
  }
}
