.bgCard {
  background-color: #0437476c;
  align-self: center;
  border-radius: 1.3em;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .bgCard{

  }
}
