.nav-toggle-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 99999999999;
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(
    3,
    66,
    108,
    0.448
  ); /* Semi-transparent dark background */
  backdrop-filter: blur(15px); /* Adds a blur effect to the background */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999999998;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  li {
    margin: 20px 0;
  }
}

.nav-menu.open {
  transform: translateX(0);
}

.opened {
  .st1 {
    animation: right 0.4s linear forwards;
  }
}
.expanded {
  .st4 {
    animation: right 0.4s linear forwards;
  }
}
.shut {
  .st4 {
    animation: left 0.4s linear forwards;
  }
}

@keyframes right {
  from {
    transform: rotate(0deg);
    transform-origin: 500px 500px;
  }
  to {
    transform: rotate(90deg);
    transform-origin: 500px 500px;
    stroke: #ff0000;
  }
}

.close {
  .st1 {
    animation: left 0.4s linear forwards;
  }
}

@keyframes left {
  from {
    transform: rotate(90deg);
    transform-origin: 500px 500px;
  }
  to {
    transform: rotate(0deg);
    transform-origin: 500px 500px;
  }
}
