.pero {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999999999;
  position: relative;
  margin-top: 2em;
  svg {
    text {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .line1 text {
      animation: blink 2s 1, fadeIn 0.3s forwards 2s;
    }

    .line2 text {
      animation: fadeIn 0.3s forwards 2.3s;
    }

    .line3 text {
      animation: fadeIn 0.3s forwards 2.6s;
    }

    .line4 text {
      animation: fadeIn 0.3s forwards 2.9s;
    }

    .line5 text {
      animation: fadeIn 0.3s forwards 3.2s;
    }

    .line6 text {
      animation: fadeIn 0.3s forwards 3.5s;
    }

    .line7 text {
      animation: fadeIn 0.3s forwards 3.8s;
    }

    .line8 text {
      animation: fadeIn 0.3s forwards 4.1s;
    }

    .line9 text {
      animation: fadeIn 0.3s forwards 4.4s;
    }

    .line10 text {
      animation: fadeIn 0.3s forwards 4.7s;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
    @keyframes blink {
      0%,
      50%,
      100% {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }
  }
}
